.item-container {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
    align-self: flex-start;
}

.item-icon  {
    display: inline-block;
    margin-right: 5px;
}

.item-body {
    display: inline-block;
    top: 0;

}

.item-name {
    font-weight: bold;
}

.item-body video {
    width: 500px;
    height: 300px;
}

.item-thumbnail {
    max-width: 100px;
    max-height: 55px;
}
